In [19]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

In [4]:
data = pd.read_csv("data/weatherAUS.csv")

In [5]:
data

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145455,2017-06-21,Uluru,2.8,23.4,0.0,NaN,NaN,E,31.0,SE,...,51.0,24.0,1024.6,1020.3,NaN,NaN,10.1,22.4,No,No
145456,2017-06-22,Uluru,3.6,25.3,0.0,NaN,NaN,NNW,22.0,SE,...,56.0,21.0,1023.5,1019.1,NaN,NaN,10.9,24.5,No,No
145457,2017-06-23,Uluru,5.4,26.9,0.0,NaN,NaN,N,37.0,SE,...,53.0,24.0,1021.0,1016.8,NaN,NaN,12.5,26.1,No,No
145458,2017-06-24,Uluru,7.8,27.0,0.0,NaN,NaN,SE,28.0,SSE,...,51.0,24.0,1019.4,1016.5,3.0,2.0,15.1,26.0,No,No
145459,2017-06-25,Uluru,14.9,NaN,0.0,NaN,NaN,NaN,NaN,ESE,...,62.0,36.0,1020.2,1017.9,8.0,8.0,15.0,20.9,No,NaN

In [54]:
data.drop("Date", axis=1, inplace=True)

In [58]:
data

,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,WNW,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,1,No
1,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,WSW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,1,No
2,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,WSW,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,1,No
3,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,E,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,1,No
4,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,NW,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,1,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145455,Uluru,2.8,23.4,0.0,NaN,NaN,E,31.0,SE,ENE,...,51.0,24.0,1024.6,1020.3,NaN,NaN,10.1,22.4,1,No
145456,Uluru,3.6,25.3,0.0,NaN,NaN,NNW,22.0,SE,N,...,56.0,21.0,1023.5,1019.1,NaN,NaN,10.9,24.5,1,No
145457,Uluru,5.4,26.9,0.0,NaN,NaN,N,37.0,SE,WNW,...,53.0,24.0,1021.0,1016.8,NaN,NaN,12.5,26.1,1,No
145458,Uluru,7.8,27.0,0.0,NaN,NaN,SE,28.0,SSE,N,...,51.0,24.0,1019.4,1016.5,3.0,2.0,15.1,26.0,1,No
145459,Uluru,14.9,NaN,0.0,NaN,NaN,NaN,NaN,ESE,ESE,...,62.0,36.0,1020.2,1017.9,8.0,8.0,15.0,20.9,1,NaN

## Preprocessing

In [59]:
data.isna().sum()

Location             0
MinTemp           1485
MaxTemp           1261
Rainfall          3261
Evaporation      62790
Sunshine         69835
WindGustDir      10326
WindGustSpeed    10263
WindDir9am       10566
WindDir3pm        4228
WindSpeed9am      1767
WindSpeed3pm      3062
Humidity9am       2654
Humidity3pm       4507
Pressure9am      15065
Pressure3pm      15028
Cloud9am         55888
Cloud3pm         59358
Temp9am           1767
Temp3pm           3609
RainToday            0
RainTomorrow      3267
dtype: int64

In [60]:
data.T

,0,1,2,3,4,5,6,7,8,9,...,145450,145451,145452,145453,145454,145455,145456,145457,145458,145459
Location,Albury,Albury,Albury,Albury,Albury,Albury,Albury,Albury,Albury,Albury,...,Uluru,Uluru,Uluru,Uluru,Uluru,Uluru,Uluru,Uluru,Uluru,Uluru
MinTemp,13.4,7.4,12.9,9.2,17.5,14.6,14.3,7.7,9.7,13.1,...,5.2,6.4,8,7.4,3.5,2.8,3.6,5.4,7.8,14.9
MaxTemp,22.9,25.1,25.7,28,32.3,29.7,25,26.7,31.9,30.1,...,24.3,23.4,20.7,20.6,21.8,23.4,25.3,26.9,27,NaN
Rainfall,0.6,0,0,0,1,0.2,0,0,0,1.4,...,0,0,0,0,0,0,0,0,0,0
Evaporation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sunshine,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
WindGustDir,W,WNW,WSW,NE,W,WNW,W,W,NNW,W,...,E,ESE,ESE,E,E,E,NNW,N,SE,NaN
WindGustSpeed,44,44,46,24,41,56,50,35,80,28,...,24,31,41,35,31,31,22,37,28,NaN
WindDir9am,W,NNW,W,SE,ENE,W,SW,SSE,SE,S,...,SE,S,SE,ESE,ESE,SE,SE,SE,SSE,ESE
WindDir3pm,WNW,WSW,WSW,E,NW,W,W,W,NW,SSE,...,E,ESE,E,E,E,ENE,N,WNW,N,ESE
WindSpeed9am,20,4,19,11,7,19,20,6,7,15,...,11,15,19,15,15,13,13,9,13,17
WindSpeed3pm,24,22,26,9,20,24,24,17,28,11,...,11,17,26,17,13,11,9,9,7,17
Humidity9am,71,44,38,45,82,55,49,48,42,58,...,53,53,56,63,59,51,56,53,51,62
Humidity3pm,22,25,30,16,33,23,19,19,9,27,...,24,25,32,33,27,24,21,24,24,36
Pressure9am,1007.7,1010.6,1007.6,1017.6,1010.8,1009.2,1009.6,1013.4,1008.9,1007,...,1023.8,1025.8,1028.1,1027.2,1024.7,1024.6,1023.5,1021,1019.4,1020.2
Pressure3pm,1007.1,1007.8,1008.7,1012.8,1006,1005.4,1008.2,1010.1,1003.6,1005.7,...,1020,1023,1024.3,1023.3,1021.2,1020.3,1019.1,1016.8,1016.5,1017.9
Cloud9am,8,NaN,NaN,NaN,7,NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,8
Cloud3pm,NaN,NaN,2,NaN,8,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,7,NaN,NaN,NaN,NaN,NaN,2,8
Temp9am,16.9,17.2,21,18.1,17.8,20.6,18.1,16.3,18.3,20.1,...,12.3,11.2,11.6,11,9.4,10.1,10.9,12.5,15.1,15
Temp3pm,21.8,24.3,23.2,26.5,29.7,28.9,24.6,25.5,30.2,28.2,...,23.3,23.1,20,20.3,20.9,22.4,24.5,26.1,26,20.9
RainToday,1,1,1,1,1,1,1,1,1,2,...,1,1,1,1,1,1,1,1,1,1
RainTomorrow,No,No,No,No,No,No,No,No,Yes,No,...,No,No,No,No,No,No,No,No,No,NaN

In [61]:
data["RainToday"].unique()

array([1, 2, 0], dtype=int64)

In [62]:
## convert NaN to NO

In [66]:
data["RainToday"]=data["RainToday"].fillna("No")

In [ ]:
data["RainToday"].unique()

In [71]:
data["RainTomorrow"]= data["RainTomorrow"].fillna("No")

In [73]:
data["RainTomorrow"].unique()

array(['No', 'Yes'], dtype=object)

In [77]:
data.isna().sum()

Location             0
MinTemp           1485
MaxTemp           1261
Rainfall          3261
Evaporation      62790
Sunshine         69835
WindGustDir      10326
WindGustSpeed    10263
WindDir9am       10566
WindDir3pm        4228
WindSpeed9am      1767
WindSpeed3pm      3062
Humidity9am       2654
Humidity3pm       4507
Pressure9am      15065
Pressure3pm      15028
Cloud9am         55888
Cloud3pm         59358
Temp9am           1767
Temp3pm           3609
RainToday            0
RainTomorrow         0
dtype: int64

In [78]:
data.isna().sum()

Location             0
MinTemp           1485
MaxTemp           1261
Rainfall          3261
Evaporation      62790
Sunshine         69835
WindGustDir      10326
WindGustSpeed    10263
WindDir9am       10566
WindDir3pm        4228
WindSpeed9am      1767
WindSpeed3pm      3062
Humidity9am       2654
Humidity3pm       4507
Pressure9am      15065
Pressure3pm      15028
Cloud9am         55888
Cloud3pm         59358
Temp9am           1767
Temp3pm           3609
RainToday            0
RainTomorrow         0
dtype: int64

### Using label encoder to help in preprocessing the `RAINTODAY` an `RAINTOMMORROW`

Label Encoder: is used when we only have to featues to predict and they are not in a specific order

In [80]:
label_encoder = LabelEncoder()

label_encoder_columns = ["RainToday", "RainTomorrow"]
for column in label_encoder_columns:
    data[column] = label_encoder.fit_transform(data[column])

In [82]:
data["RainTomorrow"].unique()

array([0, 1], dtype=int64)

In [83]:
data.dtypes

Location          object
MinTemp          float64
MaxTemp          float64
Rainfall         float64
Evaporation      float64
Sunshine         float64
WindGustDir       object
WindGustSpeed    float64
WindDir9am        object
WindDir3pm        object
WindSpeed9am     float64
WindSpeed3pm     float64
Humidity9am      float64
Humidity3pm      float64
Pressure9am      float64
Pressure3pm      float64
Cloud9am         float64
Cloud3pm         float64
Temp9am          float64
Temp3pm          float64
RainToday          int64
RainTomorrow       int64
dtype: object

In [87]:
data["WindDir9am"].unique()

array(['W', 'NNW', 'SE', 'ENE', 'SW', 'SSE', 'S', 'NE', nan, 'SSW', 'N',
       'WSW', 'ESE', 'E', 'NW', 'WNW', 'NNE'], dtype=object)

### wont be using one hot encoder simply because it will tamper with features that has the same values; 
i will be using a function with a prefix in to help identify features values

In [88]:
def column_prefix(data, column, prefix):
    return data[column].apply(lambda x: prefix + str(x))

In [89]:
data["WindDir9am"] =  column_prefix(data, "WindDir9am", "9_")
data["WindDir3pm"] = column_prefix(data, "WindDir9am", "3_")

In [90]:
data

,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,9_W,3_9_W,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,1,0
1,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,9_NNW,3_9_NNW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,1,0
2,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,9_W,3_9_W,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,1,0
3,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,9_SE,3_9_SE,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,1,0
4,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,9_ENE,3_9_ENE,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145455,Uluru,2.8,23.4,0.0,NaN,NaN,E,31.0,9_SE,3_9_SE,...,51.0,24.0,1024.6,1020.3,NaN,NaN,10.1,22.4,1,0
145456,Uluru,3.6,25.3,0.0,NaN,NaN,NNW,22.0,9_SE,3_9_SE,...,56.0,21.0,1023.5,1019.1,NaN,NaN,10.9,24.5,1,0
145457,Uluru,5.4,26.9,0.0,NaN,NaN,N,37.0,9_SE,3_9_SE,...,53.0,24.0,1021.0,1016.8,NaN,NaN,12.5,26.1,1,0
145458,Uluru,7.8,27.0,0.0,NaN,NaN,SE,28.0,9_SSE,3_9_SSE,...,51.0,24.0,1019.4,1016.5,3.0,2.0,15.1,26.0,1,0
145459,Uluru,14.9,NaN,0.0,NaN,NaN,NaN,NaN,9_ESE,3_9_ESE,...,62.0,36.0,1020.2,1017.9,8.0,8.0,15.0,20.9,1,0

In [94]:
def onehot_encoder(data, columns):
    for column in columns:
        dummies = pd.get_dummies(data[column])
        data = pd.concat([data, dummies], axis=1)
        data.drop(column, axis=1,inplace=True)
    return data

In [96]:
categorical_features = ["Location","WindGustDir", "WindDir9am","WindDir3pm"]
data=  onehot_encoder(data, categorical_features)

In [97]:
data

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,...,3_9_NW,3_9_S,3_9_SE,3_9_SSE,3_9_SSW,3_9_SW,3_9_W,3_9_WNW,3_9_WSW,3_9_nan
0,13.4,22.9,0.6,NaN,NaN,44.0,20.0,24.0,71.0,22.0,...,0,0,0,0,0,0,1,0,0,0
1,7.4,25.1,0.0,NaN,NaN,44.0,4.0,22.0,44.0,25.0,...,0,0,0,0,0,0,0,0,0,0
2,12.9,25.7,0.0,NaN,NaN,46.0,19.0,26.0,38.0,30.0,...,0,0,0,0,0,0,1,0,0,0
3,9.2,28.0,0.0,NaN,NaN,24.0,11.0,9.0,45.0,16.0,...,0,0,1,0,0,0,0,0,0,0
4,17.5,32.3,1.0,NaN,NaN,41.0,7.0,20.0,82.0,33.0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145455,2.8,23.4,0.0,NaN,NaN,31.0,13.0,11.0,51.0,24.0,...,0,0,1,0,0,0,0,0,0,0
145456,3.6,25.3,0.0,NaN,NaN,22.0,13.0,9.0,56.0,21.0,...,0,0,1,0,0,0,0,0,0,0
145457,5.4,26.9,0.0,NaN,NaN,37.0,9.0,9.0,53.0,24.0,...,0,0,1,0,0,0,0,0,0,0
145458,7.8,27.0,0.0,NaN,NaN,28.0,13.0,7.0,51.0,24.0,...,0,0,0,1,0,0,0,0,0,0
145459,14.9,NaN,0.0,NaN,NaN,NaN,17.0,17.0,62.0,36.0,...,0,0,0,0,0,0,0,0,0,0

In [103]:
data.dtypes

MinTemp        float64
MaxTemp        float64
Rainfall       float64
Evaporation    float64
Sunshine       float64
                ...
3_9_SW           uint8
3_9_W            uint8
3_9_WNW          uint8
3_9_WSW          uint8
3_9_nan          uint8
Length: 117, dtype: object

In [100]:
data.isnull().sum()

MinTemp         1485
MaxTemp         1261
Rainfall        3261
Evaporation    62790
Sunshine       69835
               ...
3_9_SW             0
3_9_W              0
3_9_WNW            0
3_9_WSW            0
3_9_nan            0
Length: 117, dtype: int64

In [106]:
data.columns

Index(['MinTemp', 'MaxTemp', 'Rainfall', 'Evaporation', 'Sunshine',
       'WindGustSpeed', 'WindSpeed9am', 'WindSpeed3pm', 'Humidity9am',
       'Humidity3pm',
       ...
       '3_9_NW', '3_9_S', '3_9_SE', '3_9_SSE', '3_9_SSW', '3_9_SW', '3_9_W',
       '3_9_WNW', '3_9_WSW', '3_9_nan'],
      dtype='object', length=117)

In [101]:
def impute_means(data, columns):
    for column in columns:
        data[column]= data[column].fillna(data[column].mean())

In [109]:
na_columns =['MinTemp', 'MaxTemp', 'Rainfall', 'Evaporation', 'Sunshine',
       'WindGustSpeed', 'WindSpeed9am', 'WindSpeed3pm', 'Humidity9am',
       'Humidity3pm','Pressure9am','Pressure3pm','Cloud9am','Cloud3pm','Temp9am','Temp3pm']
impute_means(data, na_columns)

In [110]:
data.isnull().sum()

MinTemp        0
MaxTemp        0
Rainfall       0
Evaporation    0
Sunshine       0
              ..
3_9_SW         0
3_9_W          0
3_9_WNW        0
3_9_WSW        0
3_9_nan        0
Length: 117, dtype: int64

In [111]:
data

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,...,3_9_NW,3_9_S,3_9_SE,3_9_SSE,3_9_SSW,3_9_SW,3_9_W,3_9_WNW,3_9_WSW,3_9_nan
0,13.4,22.900000,0.6,5.468232,7.611178,44.00000,20.0,24.0,71.0,22.0,...,0,0,0,0,0,0,1,0,0,0
1,7.4,25.100000,0.0,5.468232,7.611178,44.00000,4.0,22.0,44.0,25.0,...,0,0,0,0,0,0,0,0,0,0
2,12.9,25.700000,0.0,5.468232,7.611178,46.00000,19.0,26.0,38.0,30.0,...,0,0,0,0,0,0,1,0,0,0
3,9.2,28.000000,0.0,5.468232,7.611178,24.00000,11.0,9.0,45.0,16.0,...,0,0,1,0,0,0,0,0,0,0
4,17.5,32.300000,1.0,5.468232,7.611178,41.00000,7.0,20.0,82.0,33.0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145455,2.8,23.400000,0.0,5.468232,7.611178,31.00000,13.0,11.0,51.0,24.0,...,0,0,1,0,0,0,0,0,0,0
145456,3.6,25.300000,0.0,5.468232,7.611178,22.00000,13.0,9.0,56.0,21.0,...,0,0,1,0,0,0,0,0,0,0
145457,5.4,26.900000,0.0,5.468232,7.611178,37.00000,9.0,9.0,53.0,24.0,...,0,0,1,0,0,0,0,0,0,0
145458,7.8,27.000000,0.0,5.468232,7.611178,28.00000,13.0,7.0,51.0,24.0,...,0,0,0,1,0,0,0,0,0,0
145459,14.9,23.221348,0.0,5.468232,7.611178,40.03523,17.0,17.0,62.0,36.0,...,0,0,0,0,0,0,0,0,0,0

In [117]:
y = data["RainTomorrow"]
X = data.drop("RainTomorrow", axis=1)

In [118]:
X

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,...,3_9_NW,3_9_S,3_9_SE,3_9_SSE,3_9_SSW,3_9_SW,3_9_W,3_9_WNW,3_9_WSW,3_9_nan
0,13.4,22.900000,0.6,5.468232,7.611178,44.00000,20.0,24.0,71.0,22.0,...,0,0,0,0,0,0,1,0,0,0
1,7.4,25.100000,0.0,5.468232,7.611178,44.00000,4.0,22.0,44.0,25.0,...,0,0,0,0,0,0,0,0,0,0
2,12.9,25.700000,0.0,5.468232,7.611178,46.00000,19.0,26.0,38.0,30.0,...,0,0,0,0,0,0,1,0,0,0
3,9.2,28.000000,0.0,5.468232,7.611178,24.00000,11.0,9.0,45.0,16.0,...,0,0,1,0,0,0,0,0,0,0
4,17.5,32.300000,1.0,5.468232,7.611178,41.00000,7.0,20.0,82.0,33.0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145455,2.8,23.400000,0.0,5.468232,7.611178,31.00000,13.0,11.0,51.0,24.0,...,0,0,1,0,0,0,0,0,0,0
145456,3.6,25.300000,0.0,5.468232,7.611178,22.00000,13.0,9.0,56.0,21.0,...,0,0,1,0,0,0,0,0,0,0
145457,5.4,26.900000,0.0,5.468232,7.611178,37.00000,9.0,9.0,53.0,24.0,...,0,0,1,0,0,0,0,0,0,0
145458,7.8,27.000000,0.0,5.468232,7.611178,28.00000,13.0,7.0,51.0,24.0,...,0,0,0,1,0,0,0,0,0,0
145459,14.9,23.221348,0.0,5.468232,7.611178,40.03523,17.0,17.0,62.0,36.0,...,0,0,0,0,0,0,0,0,0,0

In [119]:
y

0         0
1         0
2         0
3         0
4         0
         ..
145455    0
145456    0
145457    0
145458    0
145459    0
Name: RainTomorrow, Length: 145460, dtype: int64